
.info-action {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #f2f2f2; 
  padding: 10px; 
}

.info-action span:first-child {
  font-weight: bold;
  margin-right: 10px;
}

.info-action button {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
}

.info-action button:hover {
  background-color: #0056b3; 
}

.table-container {
  max-height: 500px; 
  overflow: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title-container {
  background-color: #f2f2f2; 
  font-weight: bold; 
  display: flex; 
  justify-content: space-between; 
  border-bottom: 1px solid #ddd; 
  padding: 10px; 
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

.product-list {
  display: flex; 
  justify-content: space-between; 
  border-bottom: 1px solid #ddd; 
  padding: 10px; 
}

.product-list span {
  flex: 1; 
}

.product-list a {
  text-decoration: none; 
  color: #007bff; 
}

.product-list a:hover {
  text-decoration: underline; 
}
