<div class="info-action">
    <span>Total products: {{ products.length }}</span> 
    <span><button (click)="addProduct()">Add product</button></span>
</div>
<div class="table-container">
    <ul>
      <li class="title-container product-list">
        <span>Product Number</span>
        <span>Product Name</span>
        <span>Scrum Master</span>
        <span>Product Owner</span>
        <span>Developer Names</span>
        <span>Start Date</span>
        <span>Methodology</span>
        <span>Repository</span>
        <span>Edit Product</span>
      </li>
      <li *ngFor="let product of products" class="product-list">
        <span>{{ product.pnumber }}</span>
        <span>{{ product.pname }}</span>
        <span>{{ product.scrumMaster }}</span>
        <span>{{ product.powner }}</span>
        <span>{{ getDeveloperNames(product.pdevelopers) }}</span>
        <span>{{ product.startDate }}</span>
        <span>{{ product.pmethodology }}</span>
        <span><a [href]="product.githubLink" target="_blank">Github Link</a></span>
        <span><button (click)="modifyActionHandler(product.pnumber)">Modify</button></span>
      </li>
    </ul>
  </div>
  